p {
	color: white;
}

/*NAVBAR*/

.navbar-default {
  	background-color: white;
  	border: none;
  	width: 100%;
  	margin-bottom: 0;
}

#logo {
	margin-top: -5px;
	width: 69px;
	left: 50%;
	position: absolute;
}

.navbar-nav {
	margin-top: 15px;
}

/*SECTIONS*/

div.col-xs-12.col-sm-3 {
	padding: 0;
	overflow-y:auto;
}

#about {
	background-color: #101640;
	height: 800px;
}

#projects {
	background-color: #2D5873;
	height: 800px;
}

#skills {
	background-color: #7BA696;
	height: 800px;
}

#contact {
	background-color: #BFBA9F;
	height: 800px;
}

.titleWrapper {
	margin-left: 20%;
	padding-top: 20%;
	font-size: 4em;
	font-weight: 500;
}