p {
	color: white;
}

/*NAVBAR*/

.navbar-default {
  	background-color: white;
  	border: none;
  	width: 100%;
  	margin-bottom: 0;
}

#logo {
	width: 69px;
	left: calc(50% - 35px);
	position: absolute;
}

.navbar-nav {
	margin-top: 15px;
}

.navbar-header {
	padding-bottom: 10px;
}

.navbar-nav>li>a  {
	font-size: 1.2em;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.navbar-nav>li>a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.navbar-nav>li>a:hover:after {
	width: 100%;
	background: #666;
}

/*PANELS*/

div.col-xs-12.col-sm-3 {
	padding: 0;
	overflow-y:auto;
}

.closed {
	height: calc(92vh);
	min-height: 500px;
	display: flex;
}

#about {
	background-color: #101640;
}

#projects {
	background-color: #2D5873;
}

#skills {
	background-color: #7BA696;
}

#contact {
	background-color: #BF9663;
}

.titleWrapper {
	margin-left: 10%;
	padding-top: 20%;
	font-size: 4em;
	font-weight: 500;
	position: absolute;
}

.expand {
	-webkit-transform: width 2s;
	transition: width 2s;
}

.expand:hover {
	width: 110%;
}

.shrink {
	width: 90%;
}

.wrapper {
	position: relative;
}